<div class="layout">
    <div class="layout-wrap">
        <div class="layout-panel layout-panel_role_side">
            <div class="layout-head">
                {{{profileDropdown}}}
                {{{search}}}
            </div>

            <div class="layout-body">
                {{{chats}}}
            </div>
        </div>

        <div class="layout-panel layout-panel_role_main">
            <div class="layout-head">
                {{{chat}}}
                {{{chatDropdown}}}
            </div>

            <main class="layout-body">
                {{{messages}}}
            </main>

            <div class="layout-foot">
                {{{message}}}
            </div>
        </div>
    </div>
</div>
