<div class="layout">
    <div class="layout-wrap">
        <div class="layout-panel layout-panel_role_side">
            <div class="layout-head">
                {{{profileDropdown}}}
                {{{search}}}
                {{{chatDropdown}}}
            </div>
            {{{messengerSide}}}
        </div>
        <div class="layout-panel layout-panel_role_main">
            {{{messengerHead}}}
            {{{messengerBody}}}
            {{{messengerFoot}}}
        </div>
    </div>
    {{{chatAddForm}}}
    {{{userAddForm}}}
    {{{userDeleteForm}}}
</div>
