<div class="chats-item {{#if active}}chats-item_state_active{{/if}}">
    <div class="chats-item__outer">
        <div class="chats-item__side">
            <div class="chats-item__image"><img src="{{avatar}}" alt="{{title}}" /></div>
        </div>
        <div class="chats-item__inner">
            <div class="chats-item__head">
                <div class="chats-item__name">{{title}}</div>
                <div class="chats-item__time">{{time}}</div>
            </div>
            <div class="chats-item__body">
                <div class="chats-item__text">{{{message}}}</div>
                {{#if unread_count}}<div class="chats-item__badge">{{unread_count}}</div>{{/if}}
                {{{button}}}
            </div>
        </div>
    </div>
</div>
